*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

h1{
    margin: auto;
    text-align: center;
}

.info{
    padding: 1rem;
}

.info #data{
    font-size: 1.3rem;
    text-align: center;
    margin: auto;
    margin-bottom: 1rem;
    display: block;
}

.info .btn {
    padding: .5rem;
    background-color: blue;
    color: white;
    width: 50%;
    margin: auto;
    margin-bottom: 1rem;
    text-align: center;
    cursor: pointer;
}